.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
  outline: none; /* Убираем фокусное обрамление */
  flex: 1; /* Расширяем инпут, чтобы он занимал оставшееся пространство */
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
}

/* Секция результатов поиска */
.widgets__searchResultsTitle {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.widgets__noResults {
  font-size: 16px;
  color: gray;
  text-align: center;
  margin-top: 20px;
}

/* Отступы для постов в секции результатов поиска */
.widgets__searchResults {
  margin-top: 10px;
}